
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="robots" content="noindex,nofollow" />
  <title>Error</title>

		<style>
		body {background: #FFF5C9;margin: 0; padding: 20px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666666;}
		.errpage {width: 600px; padding: 50px; margin: auto;}
		.errpage h1 {margin: 20px 0 0;}
		.errpage p {margin: 10px 0; padding: 0;}		
		a {color: #8F7711; text-decoration:none;}
		a:hover {color: #8F7711; text-decoration:underline;}
		</style>

</head>

<body class="login">
  <div class="errpage">
    <img alt="Sad Netty" src="http://vivodev.int.unavco.org/error/SadNetRS.png" />
    <h1>There seems to be a problem.</h1>
    <p>Either the server is currently down for maintenance or not configured properly. And that makes NetteRS very sad, indeed. Try again later, or if the problem persists please contact us.</p>
<p>(╯︵╰,)</p>    
<p><a href="http://vivodev.int.unavco.org">Return to UNAVCO's VIVO</a></p>
  </div>
</body>
</html>
